<h1>Pagina de inicio!!!</h1>

<div class="texto">
    <p>He aqui una pequeña aplicación que muestra el funcinamiento de spring security de forma basica
       y utilizando JWT para proteger las apis, asi que son dos aplicaciones:
        <p>La aplicación que envuelve todo el Fronted</p>
        <p>La aplicación que contiene las APIs, protegidas por JWT</p>
    </p>
    <p>Esta aplicación esta diseñada para simular el comportamiento Angular o un sistema tipo one page.
       Y ha sido contruida con Javascript y CSS.
    </p>
    <p>Muestra diversas funcionalides para tomarlos de ejemplo en aplicaciones futuras.</p>
    <p>El desarrollo del Fronted como Backend fueron realizados por el Ing. Abel Hernández O.</p>
    <p>Esta aplicacion tiene el proposito de mostrarse solo de manera informativa.</p>
</div>

<style>
    h1 {
        width: 100%;
        text-align: center;
    }

    .texto {
        margin-top: 1rem;
        width: 70%;
        padding: 1.2rem;
        background-color: white;
        box-shadow: var(--shadow-boxes);
        margin: auto;
    }

    .texto p {
        padding: 1rem;
        font-style: italic;
    }
</style>