<div class="container-main">
    <div class="table">
        <div class="tr">
            <div class="td">ID</div>
            <div class="td">USUARIO</div>
            <div class="td">EMAIL</div>
            <div class="td">NACIMIENTO</div>
        </div>				
    </div>
    <div class="pageable">
        <div class="page">&laquo;</div>
        <div class="page">&raquo;</div>
    </div>
</div>

<style>
.container-main {
    width: fit-content;
    margin: auto;
    position: relative;
    top: 1rem;
}    
</style>